@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-primary: #fff;
  --background-color-secondary: #000;
  --background-color-tertiary: #f2f2f2;
  --background-color-accent: #3b82f6;
  --color: #000;
}

.dark {
  --background-color-primary: #181818;
  --background-color-secondary: #000;
  --background-color-tertiary: #333;
  --background-color-accent: #ff4f00;
  --color: #fff;
}

body {
  background-color: var(--background-color-primary);
  color: var(--color);
}
